.DS_Store
*.log
.idea/
.vscode/
*.pyc
.ipynb_checkpoints
results/
/models/
**/__pycache__/
*.py[cod]
*$py.class
dataset/
ffmpeg*
ffprobe*
ffplay*
debug
exp_out
/data
/facefusion
/test_gfpgan_output
/test_gpen_bfr_output
/test_gpen_bfr_parameters_output
/temp_frames
/debug_mouth_masks
*.pkl
/debug_output
